.cvtitle {
    position: absolute;
    width: 300px;
    height: 150.55px;
    left: 242px;
    top: 10px;
    -moz-box-align: center;
    -webkit-box-align: center;
}

#name {
    font-family: 'Noto Sans JP', sans-serif;
    font-style: normal;
    font-weight: 200;
    font-size: 38px;
    line-height: 35px;
    text-transform: uppercase;
    color: #333333;
    position: absolute;
    width: 600px;
    height: 30.3px;
    left: 450px;
    top: 21px;
}

#position {
    position: absolute;
    width: 350.45px;
    height: 25.2px;
    left: 450px;
    top: 70.34px;
    /* Position */
    font-family: 'Noto Sans JP', sans-serif;
    font-style: normal;
    color: #F9F9F9;
    font-weight: bold;
    font-size: 24px;
    line-height: 20px;
    /* identical to box height */
    letter-spacing: 0.18em;
    text-transform: uppercase;
    background: linear-gradient(90deg, #9967BA 20%, #0071E3 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#slidebar {
    position: absolute;
    width: 425px;
    height: 1720px;
    left: 225px;
    top: 0px;
    background: #F9F9F9;
}

.foto {
    position: absolute;
    width: 420px;
    height: 450px;
    left: 0px;
    top: 0px;
    right: 0px;
    background: url(pass_foto.jpg);
}

#aboutme {
    position: absolute;
    width: 650px;
    height: 70px;
    left: 690px;
    top: 150px;
    /* Description */
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 22px;
    text-align: justify;
    letter-spacing: 0.05em;
    /* Primary/Base */
    color: #444444;
}

#skills {
    background: -webkit-linear-gradient(90deg, #9967BA 0%, #0071E3 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.contact {
    position: absolute;
    width: 405px;
    height: 180px;
    left: 10px;
    top: 470px;
}

.contact1 {
    list-style-type: none;
    font-size: 20px;
    font-family: 'Noto Sans JP', sans-serif;
    font-style: normal;
    padding: 5px;
}

.contact1 li {
    padding: 5px;
    display: flex;
}

.boarder1 {
    position: absolute;
    width: 385px;
    height: 0px;
    left: 20px;
    top: 640px;
    border: 2px solid #EEEEEE;
}

.education {
    position: absolute;
    font-family: 'Noto Sans JP', sans-serif;
    font-style: normal;
    left: 20px;
    top: 650px;
    line-height: 20px;
}

.edu {
    background: linear-gradient(90deg, #9967BA 20%, #0071E3 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 20px;
}

.uni {
    font-size: 20px;
    font-style: normal;
    font-weight: normal;
    color: #999999;
}

.major {
    font-family: 'Noto Sans JP', sans-serif;
    font-style: normal;
    font-size: 20px;
}

.boarder2 {
    position: absolute;
    width: 385px;
    height: 0px;
    left: 20px;
    top: 940px;
    border: 2px solid #EEEEEE;
}

.language {
    position: absolute;
    font-family: 'Noto Sans JP', sans-serif;
    font-style: normal;
    left: 20px;
    top: 945px;
    line-height: 20px;
}

.language1 {
    font-family: 'Noto Sans JP', sans-serif;
    font-style: normal;
    font-weight: lighter;
    font-size: 20px;
}

#workexperience {
    position: absolute;
    width: 650px;
    height: 70px;
    left: 690px;
    top: 450px;
    font-weight: bold;
    font-size: 18px;
    text-transform: uppercase;
}

.year {
    background: linear-gradient(90deg, #9967BA 20%, #0071E3 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 18px;
}

.job1 {
    font-size: 18px;
    text-transform: none;
    font-weight: normal;
    font-family: 'Noto Sans JP', sans-serif;
    font-style: normal;
}

.features {
    font-size: 18px;
    text-transform: none;
    font-weight: normal;
    font-family: 'Noto Sans JP', sans-serif;
    font-style: italic;
}

#code {
    position: absolute;
    width: 650px;
    height: 70px;
    left: 690px;
    top: 1170px;
    font-weight: bold;
    font-size: 18px;
    text-transform: uppercase;
}

#codep1 {
    position: absolute;
    left: -130px;
    top: 50px;
}

#footer1 {
    position: absolute;
    width: 1170px;
    height: 70px;
    background: linear-gradient(90deg, #cbb1df 30%, #b0c9e2 90%);
    left: 225px;
    top: 1720px;
}

#githubfooter {
    position: relative;
    left: 10px;
    top: 10px;
    font-size: 20px;
    font-family: 'Noto Sans JP', sans-serif;
}

#rsschool {
    position: absolute;
    left: 920px;
    top: 10px;
    font-size: 20px;
    font-family: 'Noto Sans JP', sans-serif;
}

#yearfooter {
    position: absolute;
    left: 450px;
    top: 20px;
    font-size: 20px;
    font-family: 'Noto Sans JP', sans-serif;
}